body{
    margin: 20px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 4px solid gray;
    border-radius: 4px;
    box-shadow: 6px 6px 6px;
    background-color: rgb(27, 24, 24);
    color: snow;
}
.recipes{
    width: 65%;
    height: auto;
    border: solid snow 3px;
    border-radius: 4px;
}
section p{
    width: 75%;
    height: auto;
}